.form-input {
  font-weight: normal;
  font-size: 10px;
  line-height: 1.2;
  color: #8B8B8B;
  display: grid;
  gap: 10px;
  width: 100%;
  padding-bottom: 10px;
}

.form-input__input {
  background: #2F2F2F;
  border-radius: 8px;
  border: none;
  height: 45px;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.2;
  color: #FFFFFF;
  padding-left: 15px;
}

.form-input__error {
  font-weight: normal;
  font-size: 10px;
  line-height: 1.2;
  color: #EE3465;
}
